.product-grid-item {
  width: 50%;
}

@media (min-width: 576px) {
  .product-grid-item {
    width: 33.3333%;
  }
}

@media (min-width: 768px) {
  .product-grid-item {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .product-grid-item {
    width: 16.6667%;
  }
}

@media (min-width: 1200px) {
  .product-grid-item {
    width: 12.5%;
  }
}
